/*通用样式*/
*{padding: 0; margin: 0;}
ul li{list-style: none;}
body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select { padding:0; margin:0; font-family:arial; }
a{text-decoration: none;}
a:hover { text-decoration: underline;}
img{border: none;}
.clear{zoom: 1;}
.clear:after{content: "";display: block;clear: both;}
/*p::selection{background-color: gainsboro;color: lightskyblue;}*/

body{
	background-color: #fff;
	background-image: url(../img/body_bg.png);
	background-repeat:repeat-x ;
}

/*顶部top*/
#top{width: 960px; height: 30px; margin: 0 auto;}

.top_menu{float: left;}
.top_menu li{float: left; line-height:27px;font-size: 13px;padding-right: 18px;margin-right:15px;); no-repeat right:14px;top: 15px;}
.top_menu a{color:#c0c0c0;}
.top_menu a:hover{color: #fff;}


.top_bar{float: right;}
.top_bar li{float: left;height: 30px;font-size: 14px;font-weight: bold;line-height: 30px;padding-left:38px;margin-left: 10px;}
.top_bar a{color: #C0C0C0;}
.top_bar a:hover{color: #fff;}
.top_bar .phone{background: url(../img/top_ico.png) no-repeat 8px -16px; color: #C0C0C0;}
.top_bar .help{background: url(../img/top_ico.png) no-repeat 0px -46px;}
.top_bar .flag{padding-left: 13px;}

/*头部栏*/
#header{width: 960px;height: 100px;margin: 0 auto;position: relative;background: url(../img/header_bg.png) no-repeat;}
.shopping{width: 260px;height: 100px;background: url(../img/shopping_bg.png) no-repeat;position: relative;}
.shopping p{color:#f7f7f7; font-size:20px; font-family:Arial; padding:30px 0 0 84px; }
.shopping a{display:block; width:114px; height:23px; background:url(../img/shopping_bg.png) no-repeat 0px -100px;position:absolute;top:63px;left:104px; text-decoration: none;font-size:15px; color:#ffc200;font-weight: bold;text-align: center;line-height: 23px;}
.shopping a:hover{color: #ffe388;}
#header h1{position: absolute;top: 0px;left: 50%;margin-left: -119px;}

.search{width:292px ;height: 31px;background: url(../img/search.png) no-repeat; position: absolute; top: 34px;right: 0px;}
.search .text{width: 230px;height: 30px;position: absolute;top: 0;left: 20px;line-height: 30px;background: none;border:none;font-size:13px;color: #666; outline: none;}
.search .btn{width: 42px;height: 30px;position: absolute;top: 0px;right: 0px;background: none;border: none;outline: none;}

/*导航栏nav*/
#nav{width: 960px;height: 36px;margin: 0 auto; padding-top: 8px;}
#nav li{float:left;height: 36px;margin-right: 4px;}
#nav a{float: left; height: 28px;text-decoration: none;color: #fff;font-size: 15px;font-family: arial; line-height: 28px;cursor: pointer;}
#nav strong{float: left;height: 28px;font-weight: normal;}
#nav span{float: left;height: 28px;padding: 0 16px;}
#nav a:hover,#nav .active a{background: url(../img/nav_active_bg.png) repeat-x 0 -57px;}
#nav a:hover strong,#nav .active strong {background: url(../img/nav_active_bg.png) no-repeat;}
#nav a:hover span,#nav .active span { background:url(../img/nav_active_bg.png) no-repeat  right -28px;}

/*内容页*/
#content{width: 1000px;margin: 24px auto 0;background: url(../img/content_bg.gif) repeat-y -1000px 0;}
#content_top{width: 1000px;background: url(../img/content_bg.gif) no-repeat;} 
#content_bottom{width: 1000px;background: url(../img/content_bg.gif) no-repeat -2000px bottom;padding-top:10px;}

/*广告栏*/
#ad{width:940px;height: 300px;margin: 0 auto;position: relative;}
#ad ul{position: absolute;top: 0;left: 0;z-index: 1;}
#ad li{position: absolute;top: 0;left: 0;z-index: 1;}
#ad h2{position: absolute;left: 0;bottom: 8px;width: 268px;text-align: center;z-index: 3;color: #ffc600;}
#ad p{position: absolute;left: 268px;bottom: 7px;width:630px;color: #fcc;font-size: 13px; z-index: 3;}
#ad .bg{position:absolute;bottom: 0;left: 0;z-index: 2; width: 940px;height: 52px;background: #000;filter: alpha(opacity:0.8);opacity: 0.8;}


/*主要内容main*/
#main{width: 942px;margin: 0 auto;padding-top:30px;}
#side{width: 210px;float: left;}
#wrap{width: 706px;float: right;}

.module_menu{margin-bottom: 15px;}
.module_menu h2{background:url(../img/module_menu_bg.gif) repeat-x 0 -58px;height: 29px;line-height: 28px;text-align: center;font-size: 15px;color: #fff;margin-bottom: 1px;}
.module_menu h2 strong{display: block;height: 29px;background: url(../img/module_menu_bg.gif) no-repeat;}
.module_menu h2 span{display: block;height: 29px;background: url(../img/module_menu_bg.gif) no-repeat right -29px;}

.list{background: url(../img/list_bg.gif) repeat-y;text-align: left;}
.list ul{background: url(../img/list_bg.gif) no-repeat -210px bottom;padding:18px 8px 15px;z-index: 1; }
.list a {height: 27px;line-height: 27px;display:block;border-bottom: 1px solid #fff;color: #434343;text-decoration: none;font-weight:bold; font-size:12px; padding-left:32px;}
.list a:hover{color: #b20e00;border-bottom: 1px solid #b20e00;background: #fae191;}

/*join*/
.module_join{width: 210px;background: url(../img/list_bg.gif) repeat-y -630px 0;}
.module_join_t{background: url(../img/list_bg.gif) no-repeat -420px 0;z-index: 1;}
.module_join_b{background: url(../img/list_bg.gif) no-repeat -840px bottom;}

.join_form{width: 180px;margin:0 auto;}
.join_form p{font-size: 15px;color: #666;line-height: 18px;padding: 12px 0;}
/*text文本框里面加了阴影*/
.join_form .text{width: 175px;height: 25px;line-height: 25px;background: #fff;border: 1px solid #fff;border:1px solid #fff; border-top:1px solid #9c9c9c; border-left:1px solid #c0c0c0; }
.join_form .btn{width: 88px;height: 25px;display:block;background: url(../img/shopping_bg.png) no-repeat 0px -145px; margin: 0 auto; border: none;font-size: 15px;color: #fff;}

.join_list{width: 192px;margin: 0 auto;background: url(../img/shopping_bg.gif) no-repeat 10px 8px ;}
.join_list li{border-top: 1px solid #fff; padding-left: 62px;color: #434343; font-size: 13px;}
.join_list .space1{height: 45px;line-height: 45px;}
.join_list .space2{height: 38px;padding-top: 5px;line-height: 18px;}
.join_list .space3{height: 45px;padding-top: 5px;line-height: 18px;}

.payment{margin: 33px 0 0 18px ;}

/*ul li 伪下拉列表*/
/*h2->a->a:hover->大体样式(dl 浮动，父级加宽清浮动子级跟着浮动->ul->li->active)*/
.sort{height: 20px;}/*子级一左一右浮动包不住，解决办法：清浮动或者 父级元素加上高度，即高度固定*/
.sort dl{float: left;}/*子级的子级都要加上浮动*/
.sort dt{float: left;font-size: 12px;color: #747474;font-weight: bold;padding-right: 2px;}
.sort dd{float: left;  position: relative;width: 109px;height: 19px;margin-right: 12px;}
.sort h2{width: 108px;height: 17px;border: 1px solid #ccc;font-size: 12px;color: #747474;font-weight: normal;text-indent: 5px;}
.sort a{width: 19px;height: 19px;position: absolute;top: 0;left: 91px;background: url(../img/shopping_bg.png) 0 -376px;z-index: 2;}
.sort a:hover{background: url(../img/shopping_bg.png) -19px -376px;}
.sort ul{display: none;  width: 108px;border: 1px solid #ccc;background: #fff;position: absolute;top: 18px;left: 0;z-index:1;}/*ul定位一般都是相对的*/
.sort li{font-size: 12px;line-height: 20px;text-indent: 5px;cursor: pointer;}
.sort  .active{background-color: #099;color: #fff;}

.sort p{float: right ;font-size: 12px;color: #747474;}
.sort p strong{color: #999;}
.sort p span{padding:0 5px;}
.sort .color_style{color: #b20e00;}


.pic_list {width:706px;}
.pic_list h2,.scroll_list h2{height: 56px;line-height: 62px;font-size: 18px;color: #666;/*overflow: hidden;*/}
.pic_list ul{width: 734px;}
.pic_list li{float:left; width:182px; height:200px;}
.pic_list a{display: block;width:154px; height:114px;border:1px solid #c6c6c6; margin-bottom:6px;}
.pic_list a:hover{ border:1px solid #663;}
.pic_list h3{font-size:15px; color:#666; line-height:16px;}
.pic_list p{ font-size:13px; color:#333; line-height:16px;}
.pic_list span{color:#b20e00;}

.page{text-align:center;border-bottom:1px solid #cdcdc8; padding-bottom:5px; }
.page a{text-decoration: none; display:inline-block; height:20px;line-height:20px; padding:0 8px;color:#b20e00;font-size:12px;}
.page a:hover,.page .active{ color:#fff; background:#b20e00;}
.page span{ font-family:'宋体'; }

.scroll_wrap{height: 196px;background: url(../img/scroll_bg.gif) repeat-x 0 -478px;}
.scroll_wrap_l{height:196px; background:url(../img/scroll_bg.gif) no-repeat 0 -86px; }
.scroll_wrap_r{height:196px; background:url(../img/scroll_bg.gif) no-repeat right -282px;position:relative;}

.list_wrap {width:615px;position: relative;padding-top:32px;margin:0 auto;/*overflow:hidden; */}
.list_wrap ul{height:150px;position:relative; left:0;}
.list_wrap li{ width:205px; float:left; }
.list_wrap a{display: block;height: 100px; width:145px; margin:0 auto;}
.list_wrap p{width:145px; margin:0 auto;line-height:14px; padding-top:10px; font-size:12px; color:#600; text-align:center;}

.prev,.next{ width:35px; height:43px; position:absolute; top:70px; }
.prev{left:0; background:url(../img/scroll_bg.gif) no-repeat;}
.next{right:0; background:url(../img/scroll_bg.gif) no-repeat 0 -43px;}

#footer{height:302px; background:url(../img/footer_bg.png) repeat-x;}
#footer_info{ width:940px; height:60px; margin:0 auto;position:relative;  }
#footer_info p{ height:60px; line-height:60px; color:#cbcbcb; font-size:14px; font-weight:bold; float:left; }
#footer_info .ico1{ background:url(../img/footer_info.png) no-repeat 0 4px; text-indent:60px;margin-right:25px; }
#footer_info .ico2{ background:url(../img/footer_info.png) no-repeat 0 -52px;text-indent:50px;}
#footer_info .search{position:absolute; top:15px; right:-10px;}


#footer_link{ width:920px; margin:0 auto;padding-top:20px; overflow:hidden; }
#footer_link dl{float:left; width:184px;}
#footer_link dt{ font-size:15px; color:#fff; font-weight:bold; line-height:50px; }
#footer_link dd{line-height:20px;}
#footer_link a{font-size:13px; color:#cfcfcf;}
