<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div div="app">
        <input type="text" ng-model="name">
        <div ng-bind="name"></div>
        <div ng-bind="name"></div>
    </div>
    <script>
        (function _bind(){
            var model = document.querySelectorAll('[ng-model="name"]')[0];
            model.addEventListener('change', function(){
                // 通过绑定元素发生的一定行为触发双向绑定
                evaluate(this.value);
            }, false);

        })();
        function evaluate(value){
            var modelList = document.querySelectorAll('[ng-bind="name"]');
            modelList.forEach(function(item){
                item.innerHTML = value;
            });
        }
    </script>
</body>
</html>