* {
  padding: 0;
  margin: 0;
}

.wrapper {
  font-weight: bold;
  text-align: center;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}
