section{
    overflow: hidden;
}

section h2{
    margin: 20px 0;
}
section .item{
    margin-right: 2%;
    margin-top:10px; 
}

section .item .name{
    font-weight:bold; 
}

.basicInfo .item,.contact .item{
    float: left;
}

