:root{
    --header-color:#858585;
    --title-color:#d6d6d6;
    --border-color:#b4b2b2;
}
body{
    height:100vh;
    width: 100%;
}   

.title{
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    background: var(--header-color);
    color: #fff;
}

section{
    height: 18vh;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

section h2{
    float: left;
    width:10%;
    height: 100%;
    text-align: center;
    line-height: 18vh;
    margin-right: 10px;
    background: var(--title-color);
}
/*清除浮动*/
section h2::after{
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}

section .item .name{
    font-weight:bold; 
}

.basicInfo .item,.contact .item{
    float: left;
    padding-right: 20px;
    overflow: auto;
}

section .item{
    padding-top: 20px;
}